# .env.example
# JWT Secret
JWT_SECRET=secret-hitler-secret-key

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# App URL (Required for OAuth)
APP_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
