# .env.example

# App Version
APP_VERSION=

# JWT Secret
# Must be a long random string
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Discord OAuth
VITE_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# App URL (Required for OAuth)
APP_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
